@model Users[]
    <!DOCTYPE html>

    <html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
        <title>title</title>
    </head>
    <body>
    @*<button id="chooseBtn">Choose File</button>
    <input asp-controller="Home" id="file-input" type="file" name="name" style="display: none;" />*@
    <table class="table table-striped">
        <thead>
        <tr>
            <th>EmployeeType </th>
            <th>Id</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var a in @Model)
        {
            <tr>
                <td>@a.EmployeeType</td>
                <td>@a.Id</td>
                <td>@a.Email</td>
                <td>@a.Gender</td>
            </tr>
        }
        </tbody>
    </table>

    </body>

</html>
@*<script>
    $('#chooseBtn').on('click',
        function() {
            $('#file-input').trigger('click');
        });
</script>*@